:root{
    --black : #000000;
    --white : #FFFFFF;
    --gray : #908787;
    --light-gray : #eaeaea;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
.contact-section{
    padding-top: 8rem;
}
.section-title{
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    max-width: 80%;
    margin: 0rem auto;
}
.section-title > span{
    color: transparent;
    -webkit-text-stroke: 1px #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.contact-container{
    padding-bottom: 8rem;
    max-width: 80%;
    height: auto;
    margin: 6rem auto;
    font-size: var(--md);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
}
.contact-item{
    height: 150px;
    
    display: flex;
    align-items: center;
    border: 1px solid var(--light-gray);
}
.contact-icon{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 4rem;
}
.contact-icon img{
    width: 100%;
    height: 100%;
    object-fit:contain;
    object-position: center center;
    
}
.contact-info{
    display: inline-block;
    margin: 0 8rem 0;
    width: 90%;
}
.contact-info p:nth-of-type(1) {
    font-weight: 500;
    margin-bottom: 4px;
    text-transform: uppercase;
}