:root{
    --black : #000000;
    --white : #FFFFFF;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
.mobile-menu {
    margin-top: 8rem; 
    background-color: var(--black);
    padding: 24px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.mobile-menu a {
    font-size: var(--lg);
    text-decoration: none;
    color: var(--white);
}
.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul li {
    margin-bottom: 24px;
}
.inactive{
    display: none;
}

@media (min-width: 1024px) {
    .mobile-menu{
        display: none;
    }
}